<h3>Import necessary libraries</h3>

In [7]:
import pandas as pd

<h3>Read the data</h3>

In [8]:
#All the data is in monthly format unless specified otherwise
df_sp=pd.read_csv("Data/CSUSHPISA.csv")
df_gdp=pd.read_csv("Data/GDP.csv")   #quarterly
df_sqfeet=pd.read_csv("Data/HOUSTSFLAA1FQ.csv")  #quarterly
df_permit=pd.read_csv("Data/PERMIT1.csv")
df_ratio=pd.read_csv("Data/EMRATIO.csv")
df_sold=pd.read_csv("Data/HSN1F.csv")
df_mort=pd.read_csv("Data/DRSFRMACBS.csv")   #quarterly
df_ownership=pd.read_csv("Data/RSAHORUSQ156S.csv")   #quarterly
df_available=pd.read_csv("Data/HNFSEPUSSA.csv")  
df_start=pd.read_csv("Data/HOUST1F.csv")
df_completed=pd.read_csv("Data/COMPU1USA.csv")
df_construct=pd.read_csv("Data/TLRESCONS.csv")

<h3>Convert the data which is in quarterly to monthly format</h3>

In [9]:
#convert quarterly data to monthly
quarterly=[df_gdp,df_sqfeet,df_mort,df_ownership]
for i in range(len(quarterly)):
    quarterly[i]['DATE']=pd.to_datetime(quarterly[i]['DATE']).dt.to_period('M')
    quarterly[i]=quarterly[i].set_index('DATE').resample('M').interpolate()
    quarterly[i].reset_index(inplace=True)

<h3>Merge the data together</h3>

In [10]:
#merge all dataframes together to create a proper dataset
merged=pd.concat(([df_sp,df_permit,df_ratio,df_sold,df_available,df_start,df_completed,df_construct]+quarterly),axis=1,join='inner')

#remove duplicate columns, in this case it would be the 'DATE' column
merged=merged.loc[:, ~merged.columns.duplicated()]

In [11]:
merged.head()

,DATE,CSUSHPISA,PERMIT1,EMRATIO,HSN1F,HNFSEPUSSA,HOUST1F,COMPU1USA,TLRESCONS,GDP,HOUSTSFLAA1FQ,DRSFRMACBS,RSAHORUSQ156S
0,2003-07-01,133.777,1478.0,62.1,1168.0,342.0,1535.0,1424.0,454040.0,11566.669000,2334.000000,1.730000,68.300000
1,2003-08-01,134.969,1521.0,62.1,1206.0,346.0,1484.0,1329.0,458676.0,11635.190667,2341.666667,1.740000,68.366667
2,2003-09-01,136.294,1533.0,62.0,1131.0,350.0,1555.0,1413.0,463954.0,11703.712333,2349.333333,1.750000,68.433333
3,2003-10-01,137.531,1566.0,62.1,1144.0,361.0,1631.0,1479.0,475234.0,11772.234000,2357.000000,1.760000,68.500000
4,2003-11-01,138.794,1513.0,62.3,1093.0,366.0,1694.0,1439.0,490441.0,11822.638333,2359.666667,1.723333,68.566667

<h3>Save the merged dataframe to .csv file</h3>

In [12]:
merged.to_csv('Data/housing_full.csv',index=False)